<div class="card">
  <% if prototype.image.attached? %>
    <%= image_tag prototype.image %>
  <% else %>
    <%= image_tag 'default_image.jpg' %>
  <% end %>
  <h2><%= prototype.title %></h2>
  <p><%= prototype.catch_copy %></p>
  <p>投稿者: <%= prototype.user.name %></p>
</div>