<div class="card">
  <%= link_to prototype_path(prototype) do %>
    <%= image_tag prototype.image, class: 'prototype-image' if prototype.image.attached? %>
  <% end %>
  <h2><%= link_to prototype.title, prototype_path(prototype) %></h2>
  <p><%= prototype.catch_copy %></p>
  <p>投稿者: <%= prototype.user.name %></p>
</div>